body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: var(--white);
  width: 1600px;
  margin: 0 auto;
}

:root {
  --main-blue: #2196f3;
  --purple: #4d5ae5;
  --navy-blue: #2e2f42;
  --grey-paragraphs: #434455;
  --off-white: #f4f4fd;
  --white: #fff;
}
.section {
  padding: 120px 0;
}
.logo {
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
  font-size: 18px;
  line-height: 1.17;
  font-weight: 800;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.logo-part {
  color: var(--main-page-color);
  font-family: "Raleway", sans-serif;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  color: var(--main-page-color-2);
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  margin-right: 76px;
}

.pages {
  list-style: none;
  text-decoration: none;
}
.page-description-link {
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  letter-spacing: 0.32px;
  display: inline-block;
  padding: 24px 0;
}
.page-description:hover,
.page-description:focus {
  color: #404bbf;
}

.list {
  display: flex;
  gap: 40px;
}

.address-description {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-decoration: none;
}
.address-description:hover,
.address-description:focus {
  color: #404bbf;
}

.contact {
  font-style: normal;
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
}
.hero {
  background-color: #2e2f42;
  padding: 188px 0;
}
.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700px;
  line-height: 1.07;
  letter-spacing: 1.12px;
  max-width: 496px;
}
.main-description {
  background: #2f303a;
  text-align: center;
  padding: 200px 0;
}

.main-text {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 496px;
}
.hero-button {
  display: block;
  background-color: #4d5ae5;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  letter-spacing: 0.06em;
  text-align: center;

  border: none;
  border-radius: 4px;
  padding: 10px 42px;
  min-width: 169px;
  height: 56px;
}

.hero-button:hover,
.hero-button:focus {
  color: #ffffff;
  background-color: #404bbf;
}

h2 {
  color: #2e2f42;
}

.goals-list-list {
  list-style: none;
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 0;
}
.goals-title {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  margin-bottom: 8px;
}

.goals-paragraph {
  color: var(--grey-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.what-are-we-doing-list {
  display: flex;
  gap: 24px;
}
.what-are-we-doing-title {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.what-are-we-doing-list-two {
  width: calc((100% - 48px) / 3);
  display: block;
}
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}

.our-team-box {
  background-color: #ffffff;
  width: calc((100%-72px) / 4);
  border-radius: 0px 0px 4px 4px;
}
.our-team-title-list {
  display: flex;
  gap: 24px;
}

.our-team-title {
  color: var(--navy-blue);
  font-size: 36px;
  font-weight: 700px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.our-team-name {
  color: var(--navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
}
.our-team-paragraph {
  color: var(--grey-paragraphs);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.our-team-names {
  padding: 32px 0px;
  text-align: center;
}
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.logo-part-foot {
  color: var(--purple);
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 16px;
}

.logo-foot {
  color: var(--off-white);
  padding: 100px 0 100px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}
.footer-paragraph {
  color: var(--off-white);
  font-size: 16px;

  letter-spacing: 0.32px;

  font-weight: 400;
  line-height: 1.5em;

  max-width: 264px;
}
.header {
  border-bottom: 1px solid #e7e9fc;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-nav {
  display: flex;
  align-items: center;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section-two-list {
  width: calc((100%-72px) / 4);
}
.picture-block {
  display: block;
}
.main-title {
  padding: 188px 0 188px;
}

.images {
  display: block;
  max-width: 100%;
  height: auto;
}
/*/PORTFOLIO/*/
.logo-part {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17em;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}

.filter-list {
  font-family: "Roboto", sans-serif;
  color: var(--main-page-color-2);
  background-color: var(--main-text-color-2);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5em;
  letter-spacing: 0.64px;
  cursor: pointer;
}

.filter {
  color: #4d5ae5;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}
.filter:hover,
.filter:focus {
  color: #ffffff;
  background-color: #404bbf;
}

.projects {
  padding-top: 96px;
  padding-bottom: 120px;
}

.project-title {
  color: #2e2f42;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.project-paragraph {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  font-weight: 400;
  line-height: 1.5em;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}
.project-list-box {
  flex-basis: calc((100% - 48px) / 3);
}
.service-box {
  padding: 32px 16px;
  border: 1px solid var(--background-color-2);
  border-top: none;
}
.navigation {
  display: flex;
  align-items: center;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
